* {
  margin: 0;
}

.container {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #000000;
  overflow: hidden;
}

.gradient1 {
  position: absolute;
  height: 600px;
  width: 600px;
  background-color: #575757;
  filter: blur(90px);
  border-radius: 50%;
  top: 400px;
  left: 300px;
}
.gradient2 {
  position: absolute;
  height: 600px;
  width: 600px;
  background-color: #575757;
  filter: blur(90px);
  border-radius: 50%;
  top: 0px;
  left: 600px;
}
.gradient3 {
  position: absolute;
  height: 600px;
  width: 600px;
  background-color: #575757;
  filter: blur(90px);
  border-radius: 50%;
  top: 0;
  left: 300px;
}